<!--Section: Block Content-->
<br>
<br>
<nav
  style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
  aria-label="breadcrumb">
</nav>
<br>
<section class="mb-5">
  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">
      <div id="mdb-lightbox-ui"></div>
      <div class="mdb-lightbox">
        <div class="row product-gallery mx-1">
          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">
              <a> <img src={{product.image}} class="img-fluid z-depth-1" alt="Product image not avaialable">
              </a>
            </figure>
          </div>
          <div class="col-12">
            <div class="row">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <strong>{{product.productName}}</strong>
      <p><br><br></p>
      <p>{{CONSTANTS.DETAIL.MRP}} <span class="mr-1"><strong>{{product.mrp | currency:'INR'}}</strong>
          <h5>{{CONSTANTS.DETAIL.TAX_TITLE}}</h5>
        </span></p>
      <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0" aria-label="Product descrition parameters">
          <tbody>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>{{CONSTANTS.DETAIL.CATEGORY}}</strong></th>
              <td>{{product.category.categoryName}}/{{product.category.subCategory}}</td>
            </tr>
            <br>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>{{CONSTANTS.DETAIL.IN_STOCK}}</strong></th>
              <td>{{ (product.quantity === 0) ? CONSTANTS.DETAIL.OUT_OF_STOCK : product.quantity}}</td>
            </tr>
            <br>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>{{CONSTANTS.DETAIL.DESCRIPTION}}</strong></th>
              <td>{{product.productDesc}}</td>
            </tr>
            <br>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>{{CONSTANTS.DETAIL.TAGS}}</strong></th>
              <td>{{product.tags | tagsFormat}}</td>
            </tr>
            <br>
          </tbody>
        </table>
      </div>
      <div><br></div>
      <hr>
      <button type="button" class="btn btn-secondary btn-lg mr-1 mb-2" (click)="toCartScreen()"
        [hidden]='product.quantity === 0'><em
          class="fas fa-shopping-cart pr-2"></em>{{CONSTANTS.DETAIL.ADD_TO_CART}}</button>
    </div>
  </div>

</section>